{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/movie/plan.css' %}">
<!DOCTYPE html>
<html lang="kor">
<body>
    <div class="blackwidow">
        블랙위도우 5월
    </div>
    <div class="iterners">
        이터널스 11월
    </div>
    <div class="wintersoldier">
        팔콘과 윈터솔져(드라마) 8월 12월 사이
    </div>
    <div class="wanda">
        완다비전 12월
    </div>
    <div class="mutant">
        뉴 뮤턴트 4월 1일
    </div>
    <div class="deadpool">
        데드풀 3 12월
    </div>
    <div class="venom">
        베놈2 2020년 10월 2일 미국
    </div>
</body>
</html>
{% endblock %}